HOST=ingrid.localhost
# mail adress for ssl certificate, e.g. you@example.com
SERVER_ADMIN=
POSTGRES_DB_ADMIN=postgres
POSTGRES_DB_PASSWORD=postgres
CODELIST_PASSWORD=admin
ADMIN_GUI_PASSWORD=admin
ADMIN_GUI_PASSWORD_HASH=$$2a$$10$$eVBIY75kROukXAlNnvkUvuXOgfENhoCABf6tIrFW0Ty7wy5cUGTEO
INGRID_BASE_VERSION=8.4
INGRID_PATCH_VERSION_0=0
INGRID_PATCH_VERSION_1=1
INGRID_PATCH_VERSION_2=2
INGRID_PATCH_VERSION_3=3
INGRID_PATCH_VERSION_4=4
KEYCLOAK_VERSION=26.6.4-1
POSTGRES_VERSION=17
NGINX_VERSION=1.31
ELASTICSEARCH_VERSION=9.3.0
MAILRELAY_VERSION=5.1.0-debian
